MODE compressionDataCollection
FILE ../SampleFiles/sunflowers.png
TESTSET ../configuration/images.txt
SEGMENT_TYPE clustered
FIXED_SEGMENT_SIZE 1048576
CLUSTERED_SEGMENT_THRESHOLD 0.6
CLUSTERED_SEGMENT_COOLDOWN 2
GENERATIONS 6
POPULATION 4
MUTATION_RATE 0.3
COMPRESSION_CROSSOVER_RATE 0.2
USES_ANNEALING true
ELITE_SIZE 4
TOURNAMENT_SELECTION_SIZE 6
EXCESSIVE_MUTATION_THRESHOLD 0.70
MIN_TRANSFORM_AMOUNT 0
MAX_TRANSFORM_AMOUNT 6
ASYNC true


