MODE compress
FILE ../SampleFiles/fencingLogoSimple.png
SEGMENT_TYPE fixed
FIXED_SEGMENT_SIZE 1024
CLUSTERED_SEGMENT_THRESHOLD 1.0
CLUSTERED_SEGMENT_COOLDOWN 2
GENERATIONS 12
POPULATION 12
MUTATION_RATE 0.05
COMPRESSION_CROSSOVER_RATE 0.3
USES_ANNEALING true
ELITE_SIZE 6
TOURNAMENT_SELECTION_SIZE 4
EXCESSIVE_MUTATION_THRESHOLD 0.75
UNSTABILITY_THRESHOLD 0.4
MIN_TRANSFORM_AMOUNT 0
MAX_TRANSFORM_AMOUNT 6


